@media (max-width: 900px) {
	.content-wrapper {
		width: 100%;
		gap: 30px;
		padding: 0 30px;
	}

	nav {
		width: 110%;
		margin: 25px 0;
	}

	.logo img {
		width: 24px;
		height: 24px;
	}

	.logo a {
		font-size: 22px;
	}

	.menu-item {
		flex: 0;
		gap: 20px;
	}

	.menu-item a {
		font-size: 20px;
		color: #000;
	}

	/* burger menu */

	.main-menu .menu {
		display: none;
		flex-direction: column;
		justify-content: center;
		position: absolute;
		width: 40%;
		height: 50%;
		gap: 20px;
		border: 1px solid #000;
		top: 100px;
		right: 5px;
		z-index: 50;
		overflow-y: auto;
		padding: 10px;
		background-color: #fff;
		animation: burgerAnimation 2s;
		box-shadow: 0 1px 1rem 0 rgba(255, 255, 255, 0.2);
	}

	.burger-menu {
		margin-left: 10px;
		display: flex;
	}

	.request-btn {
		display: none;
		width: 150px;
	}

	.request-btn a {
		font-size: 14px;
	}

	header {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 40px;
	}

	.text-container h1 {
		font-size: 30px;
		text-align: center;
	}

	.text-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	header img {
		margin-top: 20px;
		width: 60%;
		height: 60%;
	}

	.brand-logo {
		width: 100%;
		height: 180px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
		padding: 0 10px;
		margin: 20px 0;
		flex-wrap: wrap;
	}

	.headlines-tab {
		width: 100%;
		height: 180px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.headlines-tab .content {
		width: 100%;
		height: 60px;
		font-size: 16px;
	}

	.card-tab {
		margin: 10px;
		gap: 15px;
	}

	.card {
		width: 350px;
		height: 300px;
		padding: 10px;
	}

	.card-content {
		width: 130px;
		height: 100%;
		justify-content: space-around;
	}

	.card h3 {
		font-size: 18px;
	}

	.card-img {
		width: 130px;
		height: 130px;
	}

	.card-img img {
		width: 100%;
		height: 100%;
	}

	.wrapper {
		flex-direction: column;
	}

	.proposal-content {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 50px 0;
	}
	.proposal-img {
		width: 350px;
	}

	.proposal-img img {
		width: 100%;
	}

	.cases-block {
	}

	.white-p {
		font-size: 11px;
	}

	.cases-block .black {
		padding: 1px;
	}
	.block {
		gap: 2px;
	}

	.link-btn a {
		font-size: 12px;
	}

	.block-content {
		padding: 18px;
	}

	.link-btn {
		gap: 5px;
	}

	.working-tab .card {
		height: 350px;
		padding: 5px 20px;
	}

	.l-card-header {
		height: 40%;
	}

	.l-card-header,
	.title {
		font-size: 35px;
		margin-right: 10px;
	}
	.l-card-header,
	.description {
		font-size: 22px;
	}

	.l-card-content p {
		font-size: 16px;
	}

	.team-tab {
		gap: 20px;
	}

	.team-tab .card {
		padding: 40px;
		width: 450px;
	}

	.slider-tab {
		height: 450px;
	}

	.card-header {
		width: 100%;
		justify-content: space-around;
	}

	.footer-content {
		padding: 20px;
	}

	.footer-header {
		height: 70px;
		flex-direction: column;
	}

	.footer-menu {
		width: 100%;
		flex-wrap: wrap;
	}

	.footer-menu .menu {
		width: 320px;
		color: #fff;
	}

	.footer-menu .menu .menu-item {
		width: 100px;
	}

	.footer-menu .menu .menu-item a {
		color: #fff;
		font-size: 12px;
		white-space: nowrap;
	}

	.footer-social {
		margin-top: 20px;
	}

	.footer-contact {
		flex-direction: column;
	}

	.contact-content {
		width: 100%;
		gap: 10px;
	}

	.subscribe-block {
		width: 100%;
		padding: 20px;
		margin-top: 30px;
	}

	.sub-content {
		flex-direction: column;
		width: 100%;
		margin-top: 20px;
		gap: 10px;
		padding: 10px;
	}

	.subscribe-block input {
		width: 230px;
	}

	.subscribe {
		width: 230px;
	}
}
