@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Space+Grotesk:wght@300..700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: 'space grotesk';
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-color: #fff;
	gap: 70px;
	width: 1440px;
	width: 100%;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 50px;
	width: 100%;
	height: 68px;
	border: 1px solid #000;
	box-shadow: 0 2px 5px #000;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 0;
}

.logo img {
	margin-right: 8px;
	width: 32px;
	height: 32px;
}

.logo a {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	font-weight: 800;
	color: #000;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 500px;
	height: 100%;
}

.menu-item {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.menu-item a {
	font-size: 20px;
	color: #000;
}

.request-btn {
	width: 231px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-radius: 14px;
}

.request-btn a {
	font-size: 20px;
	color: #000;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 515px;
	padding: 0 100px;
}

.text-container {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: flex-start;
	gap: 35px;
	width: 531px;
	height: 100%;
}

.text-container h1 {
	font-size: 48px;
}

.text-container p {
	font-size: 20px;
	line-height: 28px;
}

.consultation-btn {
	padding: 20px 35px;
	border-radius: 14px;
	background-color: #000;
}

.consultation-btn a {
	font-size: 20px;
	color: #fff;
}

header img {
	width: 600px;
	height: 100%;
}

.brand-logo {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 100px;
	width: 100%;
	height: 48px;
}

.brand-logo img {
	filter: grayscale(100%);
}

.brand-logo img:hover {
	filter: grayscale(0%);
}

.services-tab {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 40px;
	width: 100%;
	height: 51px;
	padding: 100px;
}

.headlines {
	padding: 0 7px;
	background-color: #b9ff66;
	border-radius: 7px;
}

.services-tab .content {
	width: 580px;
	height: 46px;
	font-size: 18px;
}

.card-tab {
	width: 100%;
	height: 1010px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 40px;
	grid-row: 40px;
	padding: 0 100px;
}

.card-tab .card {
	width: 490px;
	height: 310px;
	border: 1px solid #000;
	border-radius: 45px;
	padding: 50px;
}

.gray{
    background-color: #f3f3f3;
}

.green{
    background-color: #b9ff66;
}

.black{
    background-color: #000;
    color: #fff;
}

.white{
    background-color: #fff;
    color: #000;
}

