@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Space+Grotesk:wght@300..700&display=swap');

.open {
	display: flex !important;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: 'space grotesk';
}

.content-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-color: #fff;
	gap: 50px;
	width: 1440px;
	width: 100%;
	padding: 0 100px;
}

/* Nav style */

nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 50px;
	width: 1440px;
	height: 68px;
	border: 1px solid #000;
	box-shadow: 0 2px 5px #000;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 0;
}

.logo img {
	margin-right: 8px;
	width: 32px;
	height: 32px;
}

.logo a {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	font-weight: 800;
	color: #000;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 500px;
	height: 100%;
}

.menu-item {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.menu-item a {
	font-size: 20px;
	color: #000;
}

/* Burger menu */

.burger-menu {
	display: none;
	position: relative;
	width: 25px;
	height: 18px;
	margin-right: 10px;
	z-index: 20;
	align-items: center;
	justify-content: flex-end;
}

.burger-menu span {
	width: 80%;
	height: 2px;
	transform: scale(1);
	background-color: #d1c7bd;
}

.burger-menu::before,
.burger-menu::after {
	content: '';
	position: absolute;
	width: 90%;
	height: 2px;
	background-color: #d1c7bd;
	transition: all 0.3s ease 0s;
}

.burger-menu::before {
	top: 0;
}

.burger-menu::after {
	bottom: 0;
}

.burger-menu.active span {
	transform: scale(0);
}

.burger-menu.active::before {
	top: 50%;
	transform: rotate(-45deg) translate(0, -50%);
}

.burger-menu.active::after {
	top: 50%;
	transform: rotate(45deg) translate(0, 50%);
}

/* End boorger menu */

.request-btn {
	width: 231px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-radius: 14px;
}

.request-btn a {
	font-size: 20px;
	color: #000;
}

/* Header style */

header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}

.text-container {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: flex-start;
	gap: 35px;
	width: 100%;
	height: 100%;
}

.text-container h1 {
	font-size: 48px;
}

.text-container p {
	font-size: 20px;
	line-height: 28px;
}

.black-btn {
	padding: 20px 35px;
	border-radius: 14px;
	background-color: #000;
}

.black-btn a {
	font-size: 20px;
	color: #fff;
}

header img {
	width: 600px;
	height: 100%;
}

.brand-logo {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 48px;
}

.brand-logo img {
	filter: grayscale(100%);
}

.brand-logo img:hover {
	filter: grayscale(0%);
}

.headlines-tab {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 40px;
	width: 100%;
	height: 51px;
}

.green-headlines {
	display: inline-block;
	padding: 0 7px;
	background-color: #b9ff66;
	border-radius: 7px;
	white-space: nowrap;
}

.headlines-tab .content {
	width: 580px;
	height: 46px;
	font-size: 18px;
}

/* Service-tab style */

.card-tab {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 40px;
}

.card {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 490px;
	height: 310px;
	border: 1px solid #000;
	border-radius: 45px;
	box-shadow: 0 4px 2px #000;
	padding: 50px;
}

.card-content {
	display: flex;
	align-items: start;
	justify-content: flex-end;
	flex-direction: column;
	width: 170px;
	height: 100%;
	gap: 93px;
}

.card-title {
	display: inline-block;
	padding: 7px;
	border-radius: 7px;
}

.link-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 15px;
}

.link-btn a {
	font-size: 20px;
	color: #000;
}

.card-img {
	width: 150px;
	height: 150px;
}

.gray {
	background-color: #f3f3f3;
}

.green {
	background-color: #b9ff66;
}

.black {
	background-color: #000;
}

.black a {
	color: #fff;
}

.white {
	background-color: #fff;
	color: #000;
}

.proposal {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}

.wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.proposal-content {
	display: flex;
	align-items: start;
	flex-direction: column;
	gap: 26px;
	width: 450px;
	height: 227px;
}

.proposal-img {
	width: 494px;
	height: 100%;
}

/* Case-tab style */

.cases-block {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.block {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0 40px;
	gap: 64px;
	border-radius: 45px;
}

.cases-block .black {
	padding: 50px 30px;
}

.block-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 30px 40px;
	gap: 20px;
}

.block-content:nth-child(2) {
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

.white-p {
	color: #fff;
}

.green-link a {
	color: #b9ff66;
}

/* working-tab style */

.working-tab {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
}

.working-tab .card {
	width: 100%;
	height: 250px;
	padding: 40px;
}

.working-tab .card:hover {
	background-color: #b9ff66;
}

.l-card-content {
	width: 100%;
	height: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.l-card-content p {
	padding-top: 20px;
	font-size: 18px;
}

.l-card-header {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: space-between;
	border-bottom: 1px solid #000;
}

.l-card-header .card-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.l-card-header,
.title {
	font-size: 50px;
	margin-right: 25px;
}
.l-card-header,
.description {
	font-size: 30px;
}

.more-btn {
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 50%;
	font-size: 50px;
	font-weight: bold;
}

/* Team-tab style */

.team-tab {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 30px;
}

.team-tab .card {
	width: 358px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 30px;
}

.card-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #000;
	padding-bottom: 20px;
}

.ava img {
	width: 90px;
	height: 90px;
	margin-right: 10px;
}

.person {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin: 0 5px;
}

.person-social {
	position: absolute;
	top: -10px;
	right: -20px;
	width: 30px;
	height: 30px;
}

.person-name {
	padding-top: 30px;
	font-size: 18px;
}

.person-desc {
	font-size: 15px;
}

.bio {
	font-size: 15px;
	width: 100%;
	height: 100%;
	padding-top: 30px;
}

/* Slider style*/

.slider-tab {
	width: 100%;
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	border-radius: 45px;
	position: relative;
	overflow: hidden;
	padding: 30px;
}

.slides {
	width: 100%;
	height: 100%;
	gap: 40px;
	display: flex;
	transition: transform 0.5s ease-in-out;
	will-change: transform;
}

.slide {
	flex: 0 0 350px;
	height: 330px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
	text-align: center;
	padding-top: 90px;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease, opacity 0.3s ease;
}
.slide.active {
	font-size: 15px;
	opacity: 1;
	transform: scale(1.1);
}

.slide:not(.active) {
	opacity: 0.7;
}

.slide p {
	width: 100%;
	height: 180px;
	font-size: 14px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border: 1px solid #b9ff66;
	border-radius: 8px;
}
.person-name {
	color: #b9ff66;
}

.slider-btn {
	background-color: #b9ff66;
	color: #000;
	border: none;
	width: 60px;
	height: 40px;
	font-size: 30px;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	margin: 0 10px;
}

.slider-btn:hover {
	background-color: #005f6b;
	color: #fff;
}

.Contact-us-tab {
	width: 100%;
	display: flex;
	align-items: start;
	justify-content: space-around;
	padding: 60px 0 80px 0;
}

.contact-img {
	width: 300px;
	height: 400px;
	display: flex;
	align-items: start;
	justify-content: flex-start;
	background-image: url(/img/Illustration-2.png);
	background-size: cover;
}

.contact-form {
	width: 550px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
}

.input-area {
	width: 100%;
	height: 30px;
	padding: 18px 30px;
	margin-bottom: 15px;
	border-radius: 8px;
}

.text-area {
	width: 100%;
	height: 200px;
	border-radius: 8px;
	padding: 18px 30px;
	margin-bottom: 15px;
}

#sumbit-btn:hover {
	color: #b9ff66;
	transform: translate(2px, 2px);
	box-shadow: 0 4px 6px #b9ff66;
	transition: transform 0.3s ease;
}

footer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 50px;
	border-radius: 45px 45px 0 0;
	padding: 50px 60px;
}

.footer-header {
	width: 100%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-header > .logo > a {
	font-size: 22px;
}

.footer-menu .menu {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
}

.footer-menu .menu > .menu-item > a {
	font-size: 14px;
}

.footer-social {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 25px;
}

.footer-contact {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.contact-content {
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 20px;
}

.subscribe-block {
	width: 600px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 15px;
	background-color: #292a32;
	border-radius: 14px;
	padding: 40px 0;
}

.sub-content {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.subscribe-block input {
	width: 250px;
	height: 30px;
	padding: 18px 30px;
	border-radius: 8;
}

.subscribe {
	text-align: center;
	width: 180px;
	height: 40px;
	padding: 8px;
	border-radius: 8px;
	background-color: #b9ff66;
}

.subscribe:hover {
	color: #005f6b;
	transform: translate(2px, 2px);
	box-shadow: 0 4px 3px #b9ff66;
	transition: transform 0.3s ease;
}
